### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
#calculate the totals for schools 
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [7]:
#calculate the totals for students
total_students = school_data_complete["Student ID"].count()
total_students

39170

In [8]:
#calculate the totals for budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [9]:
 #Calculate the average math score & reading score
avgmathscore = school_data_complete["math_score"].mean()
avgreadingscore = school_data_complete["reading_score"].mean()
print(f'Math: {avgmathscore} & Reading: {avgreadingscore}')

Math: 78.98537145774827 & Reading: 81.87784018381414

In [10]:
 #Calculate the percentage of students with a passing math score (70 or greater)
passingmathcount = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["Student ID"]
passingmathpercentage = passingmathcount/total_students*100
passingmathpercentage

74.9808526933878

In [11]:
 #Calculate the percentage of students with a passing reading score (70 or greater)
passingreadingcount = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["Student ID"]
passingreadingpercentage = passingreadingcount/total_students*100
passingreadingpercentage

85.80546336482001

In [12]:
 #Calculate the overall percentage of students with a passing math and reading score (70 or greater)

overallpasscount = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].count()["Student ID"]
overallpasscount

25528

In [13]:
overallpassrate = overallpasscount/total_students*100
overallpassrate

65.17232575950983

In [14]:
#Create a dataframe to hold the above results
districtsummary = pd.DataFrame({
    "Total_Schools": [total_schools],
    "Total_Student": [total_students],
    "Total_Budget": [total_budget],
    "Ave_Math_Score": [avgmathscore],
    "Ave_Reading_Score": [avgreadingscore],
    "Passing_Math": [passingmathpercentage],
    "Passing_Reading": [passingreadingpercentage],
    "Overall_Pass_Rate": [overallpassrate]
})

In [15]:
districtsummary

,Total_Schools,Total_Student,Total_Budget,Ave_Math_Score,Ave_Reading_Score,Passing_Math,Passing_Reading,Overall_Pass_Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
school_data_complete = school_data_complete.rename(columns={"student_name":"student name"})
school_data_complete = school_data_complete.rename(columns={"school_name":"school name"})
school_data_complete = school_data_complete.rename(columns={"reading_score":"reading score"})
school_data_complete = school_data_complete.rename(columns={"math_score":"math score"})
school_data_complete.head()

,Student ID,student name,gender,grade,school name,reading score,math score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [17]:
# Determine school type.
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [20]:
#calculate the total student count per school
total_students_per_school = school_data_complete["school name"].value_counts()
total_students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school name, dtype: int64

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.